
<% if(isAuthenticated.locals) { %>
    <% if(isAuthenticated) { %>
    <div class="container">
        <h1>Welcome to My Blog</h1>
        <h1><%= isAuthenticated %></h1>
    </div>
    <% } else {%>

    <div>
        <h1>Please login</h1>
    </div>
    <% } %>
<% } %>
