

<% if(isAuthenticated) { %>

    <div class="container mt-5">

        <div class="row align-items-center">
            <div class="col d-none d-md-block">
            
            </div>

            <div class="col-12 col-md-6">
                <div class="card mb-2">
                    <img src="images/mountain.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mb-2">
                    <img src="images/mountain.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mb-2">
                    <img src="images/mountain.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mb-2">
                    <img src="images/mountain.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mb-2">
                    <img src="images/mountain.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col d-none d-md-block">

            </div>

        </div>

    </div>


<% } else {%>

    <div class="container mt-3">
        <div class="card bg-primary text-light">
            <div class="card-body text-center">
               <h1>Please Login</h1>
            </div>
        </div>
    </div>
    
<% } %>

