

<% if(isAuthenticated) { %>

    <div class="container mt-5">

        <div class="row align-items-center">
            <div class="col d-none d-md-block">
            
            </div>

            <div class="col-12 col-md-6">
                <% if(posts) {%>
                <% posts.forEach((post) => { %>
                <div class="card mb-2">
                    
                    <div class="card-body">
                        <h5 class="card-title"><%= post.name %></h5>
                        <h5 class="card-title"><%= post.title %></h5>
                        <p class="card-text"><%= post.content %></p>
                    </div>
                </div>
                <% }) %>
                <% } else {%>
                    <div class="card mb-2">
                    
                    <div class="card-body">
                        <h1>No posts available</h1>
                    </div>
                </div>
                    
                <% } %>
            </div>

            <div class="col d-none d-md-block">

            </div>

        </div>

    </div>


<% } else {%>

    <div class="container mt-3">
        <div class="card bg-primary text-light">
            <div class="card-body text-center">
               <h1>Please Login</h1>
            </div>
        </div>
    </div>
    
<% } %>

